asn1crypto==0.24.0 
astropy==3.2.1 
atomicwrites==1.3.0 
attrs==19.1.0
awscli==1.16.210
backcall==0.1.0 
basemap==1.2.0
beautifulsoup4==4.8.0
bleach==3.1.0
botocore==1.12.200
cartopy==0.16.0
certifi==2021.5.30
cffi==1.12.3
cftime==1.0.3.4
chardet==3.0.4
colorama==0.4.1
conda-package-handling==1.3.11
conda==4.10.3
configobj==5.0.6
configparser==3.7.4
cryptography==2.7
cycler==0.10.0 
decorator==4.4.0 
defusedxml==0.6.0
docutils==0.14
entrypoints==0.3
future==0.17.1
gudhi==3.1.1
h5py==2.9.0
healpy==1.12.9
idna==2.8
importlib-metadata==0.17
ipykernel==5.1.1
ipython-genutils==0.2.0
ipython==7.7.0
ipywidgets==7.5.0
jedi==0.13.3
jinja2==2.10.1
jmespath==0.9.4
json5==0.8.4
jsonschema==3.0.1
kiwisolver==1.1.0
libarchive-c==2.8
lxml==4.3.4
markupsafe==1.1.1
matplotlib==3.1.3
mistune==0.8.4
mkl-fft==1.3.0
mkl-random==1.0.4
mkl-service==2.0.2
more-itertools==7.2.0
navigator-updater==0.2.1
nbconvert==5.5.0
nbformat==4.4.0
netcdf4==1.4.2
netcdftime==1.0.0a2
notebook==6.0.0
numpy==1.17.0
olefile==0.46
owslib==0.18.0
packaging==19.0
pandas==0.24.2
pandocfilters==1.4.2
parso==0.5.0
pexpect==4.7.0
pickleshare==0.7.5
pillow==6.1.0
pip==19.1.1
pluggy==0.12.0
podaacpy==2.2.1
pot==0.7.0
prometheus-client==0.7.1
prompt-toolkit==2.0.9
psutil==5.6.3
ptyprocess==0.6.0
py==1.8.0
pyasn1==0.4.6
pycosat==0.6.3
pycparser==2.19
pyepsg==0.4.0
pygments==2.4.2
pykdtree==1.3.1
pyopenssl==19.0.0
pyparsing==2.4.0
pyproj==1.9.5.1
pyresample==1.12.3
pyrsistent==0.14.11
pyshp==2.1.0
pysocks==1.7.0
pytest-arraydiff==0.3
pytest-astropy==0.5.0
pytest-doctestplus==0.3.0
pytest-openfiles==0.3.2
pytest-remotedata==0.3.2
pytest==5.0.1
python-dateutil==2.8.0
pytz==2019.1
pyyaml==5.1.2
pyzmq==18.0.0
qtpy==1.8.0
requests==2.22.0
rsa==3.4.2
ruamel-yaml==0.15.46
s3transfer==0.2.1
scipy==1.3.0
send2trash==1.5.0
setuptools==41.0.1
shapely==1.6.4.post1
six==1.12.0
soupsieve==1.9.2
terminado==0.8.2
testpath==0.4.2
tornado==6.0.3
tqdm==4.32.1
traitlets==4.3.2
urllib3==1.24.2
wcwidth==0.1.7
webencodings==0.5.1
wheel==0.33.4
widgetsnbextension==3.5.0
xarray==0.12.1
zipp==0.5.2
